@media only screen and (max-width: 600px) {
  header {
    height: 108px;
    width: 100%;
  }
  .logo {
    position: relative;
  }
  .head > .nav ul,
  li {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 50px;
  }
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .burger {
    width: 50px;
    height: 50px;
    right: 0%;
    top: 5%;
    position: absolute;
    cursor: pointer;
  }
  .burger .line-hight {
    width: 26px;
    height: 3px;
    background: black;
    margin: 3px;
  }
  .burger .line-midlle {
    width: 20px;
    height: 3px;
    background: black;
    margin: 3px;
  }
  .burger .line-down {
    width: 15px;
    height: 3px;
    background: black;
    margin: 3px;
  }
  h1 {
    width: 375px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 65px;
    /* or 116% */
    text-align: center;
    letter-spacing: 0.2px;
  }
  h2 {
    width: 322px;
    text-align: center;
  }
  p {
    width: 323px;
  }
  .vector-blue {
    width: 19%;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .buttons button {
    width: 311px;
    margin-top: 13px;
  }
  .vector-yellow {
    margin-top: 600px;
    width: 27%;
    height: 330px;
  }
  .dashboard {
    width: 445px;
    margin-left: 0;
    margin: 0 auto;
    height: auto;
  }
  h3 {
    width: 152px;
    margin-top: 155px;
  }
  .Veriable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Veriable-image img {
    text-align: center;
    width: 392px;
    height: 351px;
  }
  .pricing .container.pricing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .pricing .container.pricing .pricing-desc {
    margin-bottom: 0;
  }
  .pricing .container.pricing .price {
    margin: 0 auto;
  }
  .pricing .container.pricing .price-content {
    height: 76px;
    line-height: 76px;
    margin: 0 auto;
    padding: 0;
  }
  .pricing .container.pricing button {
    margin-bottom: 50px;
  }
  .container.focus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container.focus h2 {
    text-align: center;
    margin-right: 0;
  }
  .container.focus .focus-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .container.focus button {
    text-align: center;
  }
  .footer > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work p {
    width: 313px;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features img {
    margin: 0 auto;
  }
  .features-image {
    width: 300px;
  }
  .work-line {
    width: 315px;
  }
  .work-line .work-line-white {
    width: 100%;
  }
  .work-line .work-line-blue {
    width: 222px;
  }
  .container.down {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 620px;
    display: visible;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container.down .logo-name {
    margin-top: 70px;
  }
  .container.down .logo-name .logo {
    margin: 0 auto;
  }
  .container.down .nav {
    display: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container.down .nav ul, .container.down .nav li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
/*# sourceMappingURL=mobile.css.map */